* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#border {
    border: 1.3px solid black;
    width: 299px;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
    padding: 12px;
    background-color: skyblue;
    box-shadow: 0 0 8px black;
}

#lbtn {
    border-radius:7px;
    background-color: whitesmoke;
    font-size: 20px;
    padding: 5px;
}


#password, #email {
    font-size: 20px;
    padding: 2px;
    border-radius: 8px;
}

#pass, #mail {
    font-size: 3px;
    padding: 10px;
}