* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#main {
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    box-shadow: 0 0 10px black;
    width: 35%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20%;
    padding: 10px;
    background-color: whitesmoke;
}