* {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#register {
    border: 1.3px solid black;
    margin: 0 auto;
    width: 320px;
    text-align: center;
    margin-top: 100px;
    border-radius: 20px;
    padding: 16px;
    background-color: #87CEEB;
    box-shadow: 0 0 10px black;
}

#rbtn {
    border-radius:7px;
    background-color: whitesmoke;
    font-size: 20px;
}

#name, #pass, #gen, #mail, #phone {
    font-size: 16px;
    padding: 6px;
}

#fullname, #email, #password, #phonenumber {
    width: 250px;
    font-size: 16px;
    border-radius: 8px;
    padding: 5px;
}
