* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0%;
}

header {
    display: flex;
    background-color: skyblue;
    align-items: center;
    justify-content: space-between;
    height: 55px;
}

#search {
    border-radius: 7px;
    font-size: 16px;
    width: 180px;
    margin-right: 50px;
    padding: 6px;
}

#content {
    margin: 5px;
}

img {
    height: 250px;
    width: 250px;
}

#box {
    width: 250px;
    margin: 20px;
    padding: 2px 10px;
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
}

#data {
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}